#root {
	background: #536497;
	min-height: 100vh;
}


.list {
	// text-align: center;
	margin: 10px auto;

	background: #f9f9f9;
	box-shadow: black 0 0px 4px -1px;
	border-radius: 5px;
	padding: 15px 5px;

	.list-title {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
		display: block;
		
		.edit-icon {
			max-width: 15px;
			max-height: 15px;
			visibility: hidden;
			margin: -1px 5px 5px 5px;
		}

		textarea {
			height: 24px;
			resize: none;
			border: none;
			width: calc(100% - 22px);
			padding: 0px 5px;
			font-weight: 100;

			&:active,
			&:focus {
				outline-color:rgb(77, 144, 254);
				outline-offset: -2px;
				outline-style: auto;
				outline-width: 2px;
			}
		}

		&:hover {
			cursor: pointer;
			.edit-icon {
				visibility: visible;
			}
		}
	}

	.list-item {
		text-align: center;
	}

	form {
		text-align: center;

	}
	input[type="submit"] {
		height: 0;
		position: absolute;
		z-index: -200;
	}

	input {
		max-width: 90%;
	}    
}
