#root {
	background: #536497;
	min-height: 100vh;
}


.list-item {
	text-align: center;
	margin: 10px auto;
	background: #f9f9f9;
	box-shadow: black 0 0px 4px -1px;
	border-radius: 5px;
	padding: 15px 0;
	
	input[type="submit"] {
		height: 0;
		position: absolute;
		z-index: -200;
	}

	input {
		max-width: 90%;
	}    
}
